name: Sprinklr to Turing

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  sprinklr-turing:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: pip install -r requirements/sprinklr_turing.txt

      - name: Executar script Python
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: python sprinklr_turing.py
