name: Turing to Chatvolt

on:
  workflow_dispatch:

jobs:
  turing-chatvolt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v3

      - name: Criar pasta models
        run: mkdir -p models

      - name: Baixar modelo (se necessário)
        run: |
          mkdir -p models
          if [ ! -f models/OpenHermes-2.5-Mistral.Q4_K_M.gguf ]; then
            wget -O models/OpenHermes-2.5-Mistral.Q4_K_M.gguf https://huggingface.co/TheBloke/OpenHermes-2.5-Mistral-7B-GGUF/resolve/main/openhermes-2.5-mistral-7b.Q4_K_M.gguf
          else
            echo "Modelo já está presente, não será baixado."
          fi

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: pip install -r requirements/turing_chatvolt.txt

      - name: Executar script Python
        run: python turing_chatvolt.py

      - name: Clean Chatvolt
        run: python clean_chatvolt.py